<div class="container">
  <h2>Registration</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
    <label>First Name</label>
    <input formControlName="firstName" type="text" class="form-control" required>
    
    <label>Last Name</label>
    <input formControlName="lastName" type="text" class="form-control" required>

    <label>Email</label>
    <input formControlName="email" type="email" class="form-control" required>

    <label>Password</label>
    <input formControlName="password" type="password" class="form-control" required>

    <div class="form-buttons">
        <button type="submit" [disabled]="!registrationForm.valid">Register</button>
    </div>
  </form>
</div>