.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: cornflowerblue;
}

form .field input, form .button {
    height: 3rem;
    width: 30rem;
}