<div class="container">
    <h2>User Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  
      <label>Username</label>
      <input formControlName="username" type="text" class="form-control" required>
  
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control" required>
  
      <div class="form-buttons">
          <button type="submit" [disabled]="!loginForm.valid">Log In</button>
      </div>
      <p><a routerLink="/registration" routerLinkActive="active">Register</a></p>
    </form>
  </div>