.login-container {
    height: 100vh;
    width: 100vw;
    background-color: #4b4e54;
    color: white;
}

.login-container .body {
    padding-top: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container .body img {
    height: 18rem;
    width: 30rem;

    margin-bottom: 1rem;
}

form .field input, form .button {
    height: 3rem;
    width: 30rem;
}