<div class="main-header">
  <button (click)="logout()" class="ui orange button" id="logoutButton">Logout</button>
  <h2>Dashboard</h2>
</div>

<div class="container">

  <!-- <div class="user-profile">
    <div class="header">
        <i class="fas fa-user fa-lg"></i>
        <h3>User Profile</h3>
    </div>

    <div *ngIf="user" class="body">
      <div>
        <label>First Name:
          <input [(ngModel)]="user.firstName" placeholder=""/>
        </label>
        <label>Last Name:
            <input [(ngModel)]="user.lastName" placeholder=""/>
        </label>
        <label>Email:
            <input [(ngModel)]="user.email" placeholder=""/>
          </label>
      </div>
      <button (click)="goBack()">go back</button>
      <button (click)="save()">save</button>
    </div>
  </div> -->

</div>